<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h1>Sign Up</h1>
 <form method="POST" action="/api/signup">
    <label > name</label>
    <input type="text" name="name" id="name">
    <label > email</label>
    <input type="email" name="email" id="email">
    <label > password</label>
    <input type="password" name="password" id="password">
    <button type="submit">submit</button>
 </form>
</body>
</html>